<div class="col-4 mb-5 align-self-start border-radius: 5%">
  <div class="card" style="width: 25rem; border-radius: 5%;">
    <img src="/images/bulbasaur.png" class="card-img-top" alt="default image"
      style="border-radius: 5%">
    <div class="card-body">
      <h5 class="card-title">{{username}}</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link view-friend text-primary" friend-name={{username}}>View Friend</a>
      <a href="#" class="card-link delete-friend text-danger" friend-id={{id}}>Delete Friend</a>
    </div>
  </div>
</div>