<div class="col-3 mb-5 align-self-start border-radius: 5%">
  <div class="card" style="border-radius: 5%;">
    <img src="/images/bulbasaur.png" class="card-img-top" alt="default image" style="border-radius: 5%">
    <div class="card-body">
      <h5 class="card-title" style="font-family: 'Indie Flower'; font-size: 25px">{{username}}</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link view-friend text-primary" style="font-family:'Montserrat'"
        friend-name={{username}}>View Friend</a>
      <a href="#" class="card-link delete-friend text-danger" style="font-family:'Montserrat'" friend-id={{id}}>Delete
        Friend</a>
    </div>
  </div>
</div>