<div class="col-4 mb-5  align-self-start">
  <div class="card" style="width: 25rem;">
    <img src="https://miro.medium.com/max/640/1*W35QUSvGpcLuxPo3SRTH4w.png"
      class="card-img-top" alt="default image">
    <div class="card-body bg-primary">
      <h5 class="card-title text-warning">{{username}}</h5>
    </div>
    <div class="card-body bg-primary">
      <a href="#" class="card-link view-friend text-dark" friend-name={{username}}>View Friend</a>
      <a href="#" class="card-link delete-friend text-danger" friend-id={{id}}>Delete Friend</a>
    </div>
  </div>
</div>