<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Poke DittoBase</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="bg-warning">

  <div class="jumbotron jumbotron-fluid text-center bg-primary pb-1 pt-5">
    <div class="container">
      <img src="https://fontmeme.com/temporary/077a2af3d1159b47fd0162a2cfcd33a1.png" alt="Poke Dittobase"
        width="500px";
        height="100px">
    </div>
  </div>


  <nav>


  <nav class="bg-primary fs-5">

    {{#if logged_in}}

    <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link"><i class="fa-solid fa-user"></i>{{user.username}}</a>
          <li class="nav-item active">
            <a class="nav-link" href="/homepage"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item navbar-right">
            <a class="nav-link" href="/favorites"><i class="fa-solid fa-heart"></i> Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friends"><i class="fa-solid fa-user-group"></i> Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa-solid fa-door-open"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    {{/if}}
  </nav>

  <main>
    {{{ body }}}
  </main>

  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

</body>

<footer class="bg-primary">

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>


</html>