<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poke DittoBase</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
  
</head>

<body>
  <header>
    <h1>Welcome To Poke DittoBase!</h1>
  </header>
  <nav>
    {{#if logged_in}}
    <a href="/homepage"><i class="fa-solid fa-house">Home</a></i>
    <a href="/favorites">Favorites</a>
    <a href="/friends">Friends</a>
    <a href="/logout">Logout</a>
    <!-- If the user is logged in, show a logout button -->
    {{!-- <button id="logout" class="btn-no-style">Logout</button> --}}
    {{/if}}
  </nav>
  <main>

    {{{ body }}}

  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<footer>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>


</html>