{{#if logged_in}}
<div>
<img src="" alt="Random pokoemon" width="auto" height="auto">
<input type="text" placeholder="Search for your Pokemon!..">
<button class="searchbtn">FIND POKEMON!</button>
</div>
{{else}}
<p>You must login first to see your saved pokemon!</p>
{{/if}}