<div class="jumbotron jumbotron-fuid">
  <div class="container">
    <h1 class="display-6 text-center pt-3">{{friend_username}}'s Favorites</h1>
    <div class="d-flex justify-content-center">
      {{#unless is_friend}}
      <a class="btn btn-primary btn-lg add-friend" friend-id={{friend_id}} href="#" role="button">Add Friend</a>
      {{/unless}}
    </div>
  </div>
</div>

{{#if favoritePokemon.length}}
<div class="container text-center">
  <div class="row">
    {{#each favoritePokemon as |pokemon| }}
    {{> unfavorited-pokemon-card}}
    {{/each}}
  </div>
</div>
{{else}}
<h3>This person hasn't added any favorites yet!</h3>
{{/if}}

<script src="/js/add-favorite.js"></script>
<script src="/js/add-friend.js"></script>