<section class="friends">

  {{#if friends.length}}
    {{#each friends as |friend| }}
    <div class="friend">
      <h2 friend-name={{friend.username}}>{{friend.username}}</h2>
    </div>
    {{/each}}
  {{else}}
    <h2>wow, much empty :(</h2>
  {{/if}}

</section>

<script src="/js/view-friend.js"></script>