<div class="input-group mb-3 w-50 p-3 mx-auto">
  <input type="text" id="search-text" class="form-control" placeholder="Search for your Friends!"
    aria-label="Search for your Pokemon!.." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary searchbtn bg-primary text-dark" type="button"><i class="fa-solid fa-magnifying-glass"> Find
        friend!</i></button>
  </div>
  <h2 class="error-text text-center" hidden="true">No user found!</h2>
</div>

{{#if friends.length}}
<div class="container text-center">
  <div class="row">
    {{#each friends as |friend| }}
    {{> friend-card}}
    {{/each}}
  </div>
</div>
{{else}}

{{!-- TODO add error message if no friends --}}
{{/if}}


<script src="/js/view-friend.js"></script>
<script src="/js/search-friend.js"></script>
<script src="/js/delete-friend.js"></script>