
<div>
    <img src="" alt="Random pokoemon" width="auto" height="auto">
    <input type="text" id="myInput" placeholder="Search for your Pokemon!..">
    <button class="searchbtn">FIND POKEMON!</button>
</div>
