<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center font-family">Welcome {{user.username}}</h1>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col align-self-start">
    <img src={{getRandomPokemonImage}} alt="Random pokemon" width="auto" height="auto">
  </div>
  </div>
</div>

<div class="input-group mb-3 w-50 p-3 mx-auto">
  <input type="text" id="search-text" class="form-control" placeholder="Search for your Pokemon!.." aria-label="Search for your Pokemon!.." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary searchbtn bg-primary text-warning" type="button">Find pokemon!</button>
  </div>
</div>

{{!-- TODO update --}}
<div id="error-text" hidden>No pokemon found!</div>
</div>

<script src="/js/search.js"></script>