<div class="container text-center">
  <div class="row">
    <div class="col align-self-start">
      <img src={{getRandomPokemonImage}} alt="Random pokemon" width="auto" height="auto">
    </div>
  </div>
</div>

<div class="input-group mb-3 w-50 p-3 mx-auto">
  <input type="text" id="search-text" class="form-control"
    placeholder="Hi {{user.username}}! Try searching for a pokemon to start!"
    aria-label="Hi {{user.username}}! Try searching for a pokemon to start!" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary searchbtn bg-primary text-dark" type="button"><i
        class="fa-solid fa-magnifying-glass">Search for pokemon!</i></button>
  </div>
</div>

{{#if not_found}}
<div class="alert alert-secondary mb-3 w-25 p-3 mx-auto text-center" role="alert">No pokemon found, please search again!
</div>
{{/if}}

<script src="/js/search.js"></script>