<div>
  <img id="random-pokemon" src={{getRandomPokemonImage}} alt="random pokemon" width="500" height="600">
</div>


<div>
  <div class="row justify-space-between-md">
       <h2 class="page-title">Login</h2>
      <div class="login-card"> 
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login"></label>
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail"
              autocomplete="off">
            <label for="password-login"></label>
            <i id="lock" class="fa-solid fa-lock"></i>
            <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass"
              autocomplete="off">
            
          </div>
          <button id="loginbtn" class="btn btn-primary" type="submit">login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
