<div>
  <img id="login-random-pokemon" src={{getRandomPokemonImage}} alt="random pokemon" width="400" height="500">
  <img id="login-random-pokemon2" src={{getRandomPokemonImage}} alt="random pokemon" width="400" height="500">
  <img id="login-random-pokemon3" src={{getRandomPokemonImage}} alt="random pokemon" width="400" height="500">
  <img id="login-random-pokemon4" src={{getRandomPokemonImage}} alt="random pokemon" width="400" height="500">
</div>
<div class="container">
<div class="signup-card">
  <h2 class="page-title">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
    </div>
    <div class="form-group">
      <label for="username-signup"></label>
      <input type="username" name="username" class="form-style" placeholder="Your Username" id="logusername" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="email-signup"></label>
      <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="password-signup"></label>
      <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass"
        autocomplete="off">
    </div>
    <button id="submitbtn" class="btn btn-primary" type="submit">signup</button>
  </form>
</div>
</div>