$Primary:#FFCB05;
$Secondary:#3466AF;

@import '//node_modules/bootstrap/scss/bootstrap';

#header {
  background-color: $Secondary;
}

body {
  background-color: $Primary;
}

footer {
  background-color: $Secondary;
}