$primarycolor: #FFCB05;
$Secondarycolor: #3466AF;

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primarycolor;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  background-color: $Secondarycolor;
}


nav {
  display: flex;
  background-color: var(--secondary);
  background-color: $Secondarycolor;
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}


#submitbtn, #loginbtn {
  margin-top: 5%;
  padding: 5%;
  
}

#logoutbtn {
  background-color: $primarycolor;
}

img {
  max-width: 100%;
  height: auto;
}



/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 75%;
  padding: 75px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: $Secondarycolor;
  margin-bottom: 2%;
}

.signup-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 75%;
  padding: 75px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: $Secondarycolor;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.random-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 75%;
  padding: 75px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}



/* LAYOUT */
.container {
  display: inline-flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

footer {
  padding: 20px;
  text-align: center;
  background: $Secondarycolor;
  color: $primarycolor;
}

#searchbar-favorite {
  margin-top:150%;
  margin-bottom: 5%;
}

.pokemon-cards {
  color: black;
  background-image: url();
  justify-content: space-between;
  border: solid;
  border-width: thick;
  flex-direction: row;
  align-content: center;
  border-radius: 10px;
}