$primarycolor: #FFCB05;
$Secondarycolor: #3466AF;
$font: black;
$card-background-color: $Secondarycolor;

body {
  font-family: Arial;
  margin: 0;
  min-height: 100vh;
  background-color: $primarycolor;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

a {
  color: $font;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  text-align: center;
  background: $Secondarycolor;
  color: $primarycolor;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}


nav {
  display: flex;
  background-color: $Secondarycolor;
  justify-content: CENTER;
  color:#FFCB05;
  margin-top: 5%;
  position: fixed;
  width: 100%;
}

nav a {
  color: $font;
  padding: 14px 20px;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}


#submitbtn {
  margin-top: 5%;
  padding: 5%;
  background-color: $primarycolor;
  color: $font; 
}

#loginbtn {
  margin-top: -19%;
  padding: 2%;
  background-color: $primarycolor;
  color: $font;
  margin-left: 30%;
  text-align: center;
}

.signup {
  margin-top: -20%;
  color:$primarycolor;
}

#logoutbtn {
  background-color: $Secondarycolor;
}

img {
  max-width: auto;
  height: auto;
}



/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  padding: 75px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: $Secondarycolor;
  color: $primarycolor;
  text-align: center;
  margin-top: 55%;
}

.signup-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  padding: 75px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: $Secondarycolor;
  color: $primarycolor;
  text-align: center;
  margin-top: 75%;
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.random-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 75%;
  padding: 75px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: $Secondarycolor;
  color: $font;
}



/* LAYOUT */
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap:wrap;

}

footer {
  padding: 20px;
  width: 100%;
  text-align: center;
  background: $Secondarycolor;
  color: $font;
  position: fixed;
  bottom: 0;
}

.searchbar {
  justify-content: center;
  width: 15%;
  align-content: flex-end;
}

#search-text {
width: 50%;
height: 20%;
align-content: flex-end;
top: 50%;
bottom: 50%;
right: 50%;
left: 50%;
}

.pokemon-cards {
  justify-content: space-between;
  border: solid;
  flex-direction: row;
  align-content: center;
}

#login-random-pokemon {
  left: 0;
  position: fixed;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#login-random-pokemon2 {
  right: 0;
  position: fixed;
}

.page-title {
  text-align: center;
  margin-top: -15%;
}

#login-random-pokemon3 {
  left: 0;
  position: fixed;
  bottom: 25px;
}

#login-random-pokemon4 {
  right: 0;
  position: fixed;
  bottom:25px;
}

.signup-title {
  text-align: center;
  padding-left: 10%;
}



.homepage { 
  display: flex;
  justify-content: center;
  place-content: center;
}

.homepageimage {
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;

}

.homepagetitle {
  margin: 30%;
  order: 0;
  place-content: center;
}

.friendspage {
display: flex;
margin-top: 10%;
align-content: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.friendspage > div {
  background-color: $Secondarycolor;
  font-size: large;
  justify-content: center;
  margin: 30px;
  padding: 30px;
  width: 300%;
  align-items: center;
  margin-right: 450%;
}

.card {
  size: 1rem;
  margin-right: 10%;
  margin-top: 50%;
  background-color: $card-background-color;
}